/*!
 * Common v3.3.7
 */
 *{
   margin: 0 0 0 0;
   padding: 0 0 0 0;
 }
ul li{
  list-style: none;
}
.clearfix{
  display:block;
  clear:both;height:0;overflow:hidden;
}
.mainBox{
  margin:0 auto;
  width: 60%;
}
.coverBox{
  width: 100%;
}
.green,.pureRed,.orange,.pureOrange,.info{
  opacity: 0.8;
  color:#fff;
  line-height: 16px;
  padding: 5px;
  border-radius: 10%;
}
.gray{
  background-color:#eee;
}
.green{
  background-color: #a0cf6c;
}
.pureRed{
  background-color: #e7ab99;
}
.orange{
  background-color: #ffab3d;
}
.pureOrange{
  background-color: #f1c888;
}
.info{
  background-color: #68bae2;
}
.white{
  background-color:#ffffff;
}
/*header---------------------------------------------------*/
.header{
    display:block;
    height: 160px;
}
.header .white{
  height: 50px;
}
.header .white .info{
  border-radius: 10%;
}
.header .searchIn input{
  display: block;
  height: 100%;
  border-radius: 10% 0 0 10%;
  border: 1px solid #e8e8e8;
}
.header .searchIn input:focus{
  border-radius: 10% 0 0 10%;
}
.header .searchIn,.header .search{
  height: 30px;
}
.header .search{
  display: block;
  background-image: url('images/search.png');
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center center;
  background-color: #68bae2;
  cursor: pointer;
  width: 20px;
  border-radius: 0px 5px 5px 0px;
}
.find{
  margin-top: 30px;
  margin-bottom: 30px;
}
.find li{
float:right;
}
.adminI{
  background-image: url('images/adminI.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 25px;
  height: 25px;
  margin-left:50px;
  margin-right: 10px;
}
.header .info{
  border-radius: 0px;
}
.hlist{
clear:both;
display: block;
height: 100px;
}
.hlist li{
float: left;
}
/*container---------------------------------------------------*/
.container{
display:block;
background-color:#eee;
height: 800px;
}
.container .leftC,.container .rightC{
float: left;
background-color: #ffffff;
display: block;
width: 45%;
}
.leftC{
  margin-right: 5%;
}
.findCount{
  color: #83c6db;
}
.bselect::after{
  content: " ▲";
  width: 50px;
  height: inherit;
  opacity: 0.5;
  cursor: pointer;
}
.rightC{

}
.rTreePage{
  color: #83c6db;
  cursor: pointer;
}
.rtitle{
  font-size: 25px;
}
.rtitle::after{
  content: "------------------------------";
  width: 100%;
  height: inherit;
  opacity: 1;
}
.rTreeAn{
  color: #000000;
}
.banner{
  background-image: url('images/banner.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 80%;
  margin: 0 auto;
  height: 200px;
}
/*footer---------------------------------------------------*/
.footer{
display:block;
background-color:#d8d8d8;
text-align: center;
clear:both;
line-height: 20px;
}
